main/credentials.h
/sdkconfig
/sdkconfig.defaults
/sdkconfig.ci
*.crt
*.pem
*.key
*.der
/build/
/dependencies/
*.bin
*.elf
*.map
/pytest_hello_world.py
.vscode/
.idea/
*.suo
*.ntvs*
*.visualgdb/
*~
.DS_Store
Thumbs.db
